extends base

block content
  .container
    div.py-4
      h1.text-center.display-4#headLineText Image Gallery
      hr
      //- div.gallery#gallery
      //-   each image in images
      //-     div.mb-3.pics.animation.all
      //-       a(href=`\\gallery\\${image}`)
      //-         img.img-fluid(src=`\\images-thumbnails\\${image}` alt="Card image cap")
  .container-fluid
    .col-lg-10.mx-auto
      .row
        each image in images
          .col-lg-4.pb-4.text-center
            a(href=`\\gallery\\${image}`)
              img.img-fluid(src=`\\images-thumbnails\\${image}` alt=`${image}` style="width:600px;height:400px;object-fit:cover")        

